@import "./variables.scss";

@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

@import "node_modules/bootstrap/scss/bootstrap";
@import "node_modules/bootstrap-vue/src/index.scss";

// global styles + reset default styles

* {
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    outline: 0;
    user-select: none;
    position: relative;
}

html,
body {
    font-family: "Roboto", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.center-wrapper {
    max-width: 1400px;
    margin: 0 auto;
    width: 85%;
}

.static-image {
    position: absolute;
    width: 100%;
    height: 100%;
}

.logo-img {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}

.header-spacer {
    height: 4em;
}

.btn-white {
    background-color: $white;
    border-radius: 50px;
    color: $black;
    font-size: $font-size--5;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 12.5px 25px;
    text-decoration: none;
    transition: 0.3s all;

    @media screen and (max-width: 1199px) {
        font-size: $font-size--4;
        padding: 7.5px 20px;
    }

    @media screen and (max-width: 991px) {}

    @media screen and (max-width: 768px) {
        font-size: $font-size--3;
    }

    @media screen and (max-width: 575px) {}

    &:hover {
        text-decoration: none;
        background-color: $navy;
        color: $white;
    }
}

.btn-navy {
    background-color: $navy;
    border-radius: 50px;
    color: $white;
    font-size: $font-size--5;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    padding: 12.5px 25px;
    text-decoration: none;
    transition: 0.3s all;

    &:hover {
        text-decoration: none;
        background-color: $white;
        color: $navy;
    }

    @media screen and (max-width: 1199px) {
        font-size: $font-size--4;
        padding: 7.5px 20px;
    }

    @media screen and (max-width: 991px) {}

    @media screen and (max-width: 768px) {
        font-size: $font-size--3;
    }

    @media screen and (max-width: 575px) {}
}